HY2_PORT=443
HY2_LISTEN=:443
HY2_PASSWORD=change-me
HY2_DOMAIN=localhost
HY2_CERT_PATH=/var/lib/hysteria/certs/server.crt
HY2_KEY_PATH=/var/lib/hysteria/certs/server.key
WARP_MAX_ATTEMPTS=20
WARP_RETRY_SECONDS=2
